# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset
import pandas as pd
df=pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [28]:
df.isnull().sum()

student_id    0
gender        0
major         0
admitted      0
dtype: int64

In [56]:
total=df.shape[0]
print(total)

500

In [66]:
# Proportion of students that are female
#df.count_values()
df_f=df.query('gender=="female"')
total_females=df_f['admitted'].value_counts().sum()
print(total_females)
print(total_females/total)
#df_f.head()

257
0.514

In [36]:
df_f.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
2       31441  female  Chemistry     False
4       53714  female    Physics      True
5       50693  female  Chemistry     False
7       27648  female  Chemistry      True

In [67]:
# Proportion of students that are male
df_m=df.query('gender=="male"')
total_males=df_m['admitted'].value_counts().sum()
print(total_males)
print(total_males/total)
#df_m.head()

243
0.486

In [68]:
# Admission rate for females
#df_f1=df_f['admitted'].value_counts()
admitted_f=df_f['admitted'].sum()
print(admitted_f)

74

In [70]:
adm_rate_f=admitted_f/total_females
print(adm_rate_f)

0.287937743191

In [65]:
# Admission rate for males
#df_m1=df_m['admitted'].value_counts()
admitted_m=df_m['admitted'].sum()
print(admitted_m)

118

In [71]:
adm_rate_m=admitted_m/total_males
print(adm_rate_m)

0.485596707819

### Proportion and admission rate for physics majors of each gender

In [85]:
# What proportion of female students are majoring in physics?
df_fp=df_f.query('major=="Physics"')
phy_fem=df_fp['major'].value_counts().sum()
print(phy_fem)
print(phy_fem/total_females)

31
0.120622568093

In [86]:
# What proportion of male students are majoring in physics?
df_mp=df_m.query('major=="Physics"')
phy_mal=df_mp['major'].value_counts().sum()
print(phy_mal)
print(phy_mal/total_males)

225
0.925925925926

In [87]:
# Admission rate for female physics majors
admin_phy_fem=df_fp["admitted"].sum()
print(admin_phy_fem)
print(admin_phy_fem/phy_fem)

23
0.741935483871

In [88]:
# Admission rate for male physics majors
admin_phy_male=df_mp["admitted"].sum()
print(admin_phy_male)
print(admin_phy_male/phy_mal)

116
0.515555555556

### Proportion and admission rate for chemistry majors of each gender

In [93]:
# What proportion of female students are majoring in chemistry?
df_fc=df_f.query('major=="Chemistry"')
chem_fem=df_fc['major'].value_counts().sum()
print(chem_fem)
print(chem_fem/total_females)

226
0.879377431907

In [97]:
# What proportion of male students are majoring in chemistry?
df_mc=df_m.query('major=="Chemistry"')
chem_mal=df_mc['major'].value_counts().sum()
print(chem_mal)
print(chem_mal/total_males)

18
0.0740740740741

In [98]:
# Admission rate for female chemistry majors
admin_chem_fem=df_fc["admitted"].sum()
print(admin_chem_fem)
print(admin_chem_fem/chem_fem)

51
0.225663716814

In [99]:
# Admission rate for male chemistry majors
admin_chem_male=df_mc["admitted"].sum()
print(admin_chem_male)
print(admin_chem_male/chem_mal)

2
0.111111111111

### Admission rate for each major

In [104]:
# Admission rate for physics majors
df_physics=df.query('major=="Physics"')
#df_physics.head()
print(df_physics.shape[0])
phy_total=df_physics['major'].value_counts().sum()
print(phy_total)
phy_admissions=df_physics["admitted"].sum()
print(phy_admissions)
print(phy_admissions/phy_total)

256
256
139
0.54296875

In [105]:
# Admission rate for chemistry majors
df_chem=df.query('major=="Chemistry"')
#df_chem.head()
print(df_chem.shape[0])
chem_total=df_chem['major'].value_counts().sum()
print(chem_total)
chem_admissions=df_chem["admitted"].sum()
print(chem_admissions)
print(chem_admissions/chem_total)

244
244
53
0.217213114754